body,
html {
  width: 100%;
  font-size: 13px;
  line-height: 16px;
  color: #000;
  font-family: "Ubuntu", sans-serif;
}
.ui-kit {
  width: 100%;
  height: 100vh;
  padding: 32px;
  background-color: #ebf0f5;
}
.input {
  width: 100%;
  min-height: 32px;
  border: 1px solid #459df5;
  border-radius: 4px;
  padding: 0 32px 0 8px;
}
.input:focus {
  outline: none;
}
.input::-moz-placeholder {
  color: #bad8f5;
}
.input::-webkit-input-placeholder {
  color: #bad8f5;
}
.ui-kit__block {
  position: relative;
  width: 358px;
  padding: 48px;
  border: 1px dashed #a8a8ff;
  border-radius: 4px;
}
.block__content {
  display: flex;
  flex-direction: column;
}
.block__title {
  position: absolute;
  left: 10px;
  top: -20px;
  color: #a8a8ff;
}
.block__order-date {
  margin-bottom: 22px;
}
.block__order-date:last-child {
  margin-bottom: 0px;
}
.order-date__content {
  position: relative;
}
.order-date__input_incorrect {
  border-color: #f53152;
}
.order-date__button_x-button {
  width: 16px;
  position: absolute;
  height: 16px;
  top: 9px;
  left: 235px;
  background-image: url(./icons/x-medium.svg);
  background-repeat: no-repeat;
  background-color: unset;
  border: unset;
  cursor: pointer;
}
.order-date__button_x-button:focus {
  outline: none;
}
.order-date__input_disabled {
  background-color: #bad8f5;
  cursor: not-allowed;
  pointer-events: none;
}
.order-date__icon_disabled {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 8px;
  left: 235px;
  background-image: url(./icons/locked.svg);
  background-repeat: no-repeat;
  background-color: unset;
  border: unset;
}
.order-date__title {
  margin-bottom: 8px;
}
