body,
html {
  width: 100%;
  font-size: 13px;
  line-height: 16px;
  color: #000;
  font-family: "Ubuntu", sans-serif;
}
.ui-kit {
  width: 100%;
  height: 100vh;
  padding: 32px;
  background-color: #ebf0f5;
}
.ui-kit__input {
  position: relative;
  width: 522px;
  padding: 40px;
  border: 1px dashed #a8a8ff;
  border-radius: 4px;
}
.item__order-date {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
}
.title__order-date {
  position: absolute;
  top: -20px;
  left: 10px;
  color: #a8a8ff;
}
.input {
  min-height: 32px;
  border: 1px solid #459df5;
  border-radius: 4px;
  width: 100%;
  padding: 0 32px 0 8px;
}
.order-date__input_incorrect-value {
  border-color: #f53152;
}
.x-button {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 194px;
  left: 455px;
  background-image: url(./icons/x-medium.svg);
  background-repeat: no-repeat;
  background-color: unset;
  border: unset;
}
.x-button:focus {
  outline: none;
}
.order-date__input_locked-value {
  background-color: #bad8f5;
  position: relative;
}
.order-date__input-locked-icon {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 293px;
  left: 455px;
  background-image: url(./icons/locked.svg);
  background-repeat: no-repeat;
  background-color: unset;
  border: unset;
}
.order-date__input-title {
  padding-bottom: 8px;
}
