.ui-kit__block_checkbox-radio {
  width: 104px;
  min-width: 104px;
  padding: 24px;
}
.block__checkbox,
.block__radio {
  margin-right: 24px;
}
.block__checkbox:last-child,
.block__radio:last-child {
  margin-right: 0;
}
.block__content_checkbox-radio {
  flex-direction: row;
}
.checkbox__container {
  display: inline-block;
  width: 100%;
  min-height: 32px;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
}
.checkbox__container::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 16px;
  width: 16px;
  border: 1px solid #bad8f5;
  border-radius: 2px;
  background-color: #fff;
}
.checkbox__container::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 16px;
  width: 16px;
  border: 1px solid #bad8f5;
  border-radius: 2px;
  background-image: url(../icons/checkmark.svg);
  background-repeat: no-repeat;
  opacity: 0;
}
.radio__container {
  display: inline-block;
  width: 100%;
  min-height: 32px;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
}
.radio__container::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 16px;
  width: 16px;
  border: 1px solid #bad8f5;
  border-radius: 50%;
  background-color: #fff;
}
.radio__container::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-image: url(../icons/dot.svg);
  background-repeat: no-repeat;
  opacity: 0;
}
.checkbox,
.radio {
  height: 16px;
  min-width: 16px;
}
.checkbox__input,
.radio__input {
  display: none;
  position: absolute;
}
.checkbox__input:checked + .checkbox__container::before {
  background-color: #459df5;
}
.checkbox__input:checked + .checkbox__container::after {
  opacity: 1;
}
.radio__input:checked + .radio__container::before {
  background-color: #459df5;
}
.radio__input:checked + .radio__container::after {
  opacity: 1;
}
.checkbox-dropdown__item,
.radio-dropdown__item,
.checkbox-dropdown__checkbox,
.radio-dropdown__radio {
  width: 100%;
}
