.ui-kit__block_input {
  width: 354px;
  min-width: 354px;
  padding: 48px;
}
.block__content {
  display: flex;
  flex-direction: column;
}
.button {
  background-repeat: no-repeat;
  background-color: unset;
  border: unset;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  flex-wrap: nowrap;
}
.button:focus {
  outline: none;
}
.button_x-button {
  width: 16px;
  position: absolute;
  height: 16px;
  top: 8px;
  left: 233px;
  background-image: url(../icons/x-medium.svg);
}
.input {
  width: 100%;
  min-height: 32px;
  border-radius: 4px;
}
.input:focus {
  outline: none;
}
.input::-moz-placeholder {
  color: #bad8f5;
}
.input::-webkit-input-placeholder {
  color: #bad8f5;
}
.block__order-date {
  margin-bottom: 22px;
}
.block__order-date:last-child {
  margin-bottom: 0px;
}
.order-date__content {
  position: relative;
}
.order-date__input {
  border: 1px solid #459df5;
  padding: 0 32px 0 8px;
}
.order-date__input_incorrect {
  border-color: #f53152;
}
.order-date__input_disabled {
  background-color: #bad8f5;
  cursor: not-allowed;
  pointer-events: none;
}
.order-date__icon_disabled {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 8px;
  left: 233px;
  background-image: url(../icons/locked.svg);
  background-repeat: no-repeat;
  background-color: unset;
  border: unset;
}
.order-date__title {
  margin-bottom: 8px;
  display: inline-block;
  width: 100%;
}
