.ui-kit__block_searchbar {
  width: 354px;
  min-width: 354px;
  padding: 48px;
}
.block__content {
  display: flex;
  flex-direction: column;
}
.button {
  background-repeat: no-repeat;
  background-color: unset;
  border: unset;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  flex-wrap: nowrap;
}
.button:focus {
  outline: none;
}
.button_x-button {
  width: 16px;
  position: absolute;
  height: 16px;
  top: 8px;
  left: 233px;
  background-image: url(../icons/x-medium.svg);
}
.input {
  width: 100%;
  min-height: 32px;
  border-radius: 4px;
}
.input:focus {
  outline: none;
}
.input::-moz-placeholder {
  color: #bad8f5;
}
.input::-webkit-input-placeholder {
  color: #bad8f5;
}
.block__searchbar {
  margin-bottom: 32px;
}
.block__searchbar:last-child {
  margin-bottom: 0px;
}
.searchbar__content {
  position: relative;
}
.searchbar__icon {
  width: 16px;
  position: absolute;
  height: 16px;
  top: 8px;
  left: 9px;
  background-image: url(../icons/search.svg);
  background-repeat: no-repeat;
  background-color: unset;
  border: unset;
  cursor: pointer;
}
.searchbar__input {
  border: 1px solid #459df5;
  padding: 0 32px 0 32px;
}
